<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Assignment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/assets" routerLinkActive="active">Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addAsset" routerLinkActive="active">Add new asset</a>
            </li>
        </ul>
    </div>
</nav>