<div class="container">
    <div class="card text-center mt-4">
        <div class="card-header">
            <span class="ml-5">Creator name: {{asset?.MimeType.CreatedBy}}</span>
            <button class="btn btn-danger float-rigth" (click)="removeAsset()"><i class="fa fa-trash"></i> </button>
            <button class="btn btn-success float-rigth" [routerLink]="['/edit/',asset.Id]"><i class="fa fa-edit"></i>
      </button>
        </div>
        <div class="card-body">
            <p class="card-text">File name: {{asset?.FileName}}</p>
            <p class="card-text">File type: {{asset?.MimeType.Type}}</p>
        </div>
        <div class="card-header">
            Country: {{asset?.Country?.Name}}
        </div>
        <div class="card-body">
            <p class="card-text">Description: {{asset?.Country.Description}}</p>
        </div>
        <div class="card-footer text-muted">
            <p class="card-text">Contact - {{asset?.MimeType.Email}}</p>
        </div>
    </div>
</div>