<div class="container">
    <div class="row ">
        <div class="col-md-6 center mt-3 form-border">
            <h1>Add new Asset</h1>
            <form (ngSubmit)="updateAsset()" #assetForm="ngForm">
                <div class="form-group">
                    <label for="name">File name</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.FileName" name="FileName" required>
                </div>
                <div class="form-group">
                    <label for="name">Type</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.MimeType.Type" name="Type" required>
                </div>
                <div class="form-group">
                    <label for="name">Created by</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.MimeType.CreatedBy" name="CreatedBy" required>
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.MimeType.Email" name="Email" required>
                </div>
                <div class="form-group">
                    <label for="name">Country name</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.Country.Name" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.Country.Description" name="Description" required>
                </div>
                <div class="form-group ">
                    <button type="submit " class="btn btn-success " [disabled]="!assetForm.form.valid ">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>