<div class="container mt-5 ">
    <div class="row">
        <div *ngFor="let asset of assets  | paginate: { itemsPerPage: 4, currentPage: p }" class="col-lg-6 col-md-4 col-sm-6">
            <app-asset-card [asset]="asset"></app-asset-card>
        </div>

    </div>
</div>
<div class="row">
    <div class="center mt-4 mb-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>