<div class="card text-center mt-4">
    <div class="card-header">
        Created by: {{asset.MimeType.CreatedBy}} - {{asset.MimeType.Email}}
    </div>
    <div class="card-body">
        <p class="card-text">File: {{asset.FileName}} - {{asset.MimeType.Type}}</p>
        <p class="card-text">Country: {{asset.Country.Name}}</p>
        <p class="card-text">Description: {{asset.Country.Description}}</p>
        <button class="btn btn-info" [routerLink]="['/assets/',asset.Id]"><i class="fa fa-info"></i> Details</button>
    </div>
    <div class="card-footer text-muted"></div>
</div>