<div class="container">
    <div class="row ">
        <div class="col-md-6 center mt-4 form">
            <h1>Add new Asset</h1>
            <form (ngSubmit)="createAsset()" #assetForm="ngForm">
                <div class="form-group">
                    <label for="name">File name</label>
                    <input type="text" class="form-control" [(ngModel)]="asset.FileName" name="FileName" required>
                </div>
                <div class="form-group">
                    <label for="name">Type</label>
                    <input type="text" class="form-control" [(ngModel)]="mime.Type" name="Type" required>
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <input type="text" class="form-control" [(ngModel)]="mime.CreatedBy" name="CreatedBy" required>
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="mime.Email" name="Email" required>
                </div>
                <div class="form-group">
                    <label for="name">Country name</label>
                    <input type="text" class="form-control" [(ngModel)]="country.Name" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <input type="text" class="form-control" [(ngModel)]="country.Description" name="Description" required>
                </div>
                <div class="form-group ">
                    <button type="submit " class="btn btn-success btn-position" [disabled]="!assetForm.form.valid ">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>